/*1% width= 19,02px*/
/*1% height= 9.5px*/

body{
	background-color: #fff;
	overflow-x: hidden;
}

h2{
	font-size: 2.6vw;
	color: #00fc95;
	font-family: 'Francois One', sans-serif;
}

h4{
	font-size: 0.8vw;
	color: #000;
	font-family: 'Francois One', sans-serif;
}

p{
	font-size: 0.988vw;
	color: #000;
	font-family: 'Francois One', sans-serif;
	position: absolute;
	left: 35%;
}

#articles{
	width: 100%;
	position: absolute;
	top: 100%;
}

#div2{
	width: 100%;
}

#div3{
	width: 100%;
}

.abase{
	width: 30%;
	height: 30%;
	box-shadow: 0.052vw 0.052vw 0.624vw black;
}

#bande{
	width: 100%;
	height: 5%;
	background-color: #fff;
	text-align: center;
	box-shadow: 0.052vw 0.052vw 0.624vw black;
	position: absolute;
	top: 0%;
	left: 0%;
}

#img1{
	width: 57.8338590957%;
	position: absolute;
	top: 5%;
	left: 21.0304942166%;
}

h1{
	font-size: 9vw;
	color: #00b4ff;
	font-family: 'Francois One', sans-serif;
	position: absolute;
	top: 60.5%;
	left: 37.9579390116%;
}

#divcord{
	width: 25%;
	height: 30vh;
	background-color: #8461b3;
	border-radius: 0.2vw;
	position: relative;
	left: 73%;
}

#discord{
	font-size: 1.8vw;
	color: #fff;
	padding: 0.2vw;
	background-color: #7289da;
	border: 0.1vw solid #fff;
	border-radius: 0.2vw;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 10%;
	left: 37%;
}

#discord:hover{
	font-size: 1.85vw;
	padding: 0.25vw;
	background-color: #6074b5;
	border-radius: 0.15vw;
	position: absolute;
	left: 36.5%;
}

#pserv{
	font-size: 1.2vw;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 33%;
	left: 15%;
}